body {
	background-color: black;
}

header {
	background-color: #fff200;
	color: black;
}

footer {
	background-color: #455e00;
	color: white;
}

p {
	color: white;
	font-family: Comic Sans MS;
	text-shadow: 2px 2px 3px yellow;
}

button {
	color: yellow;
	background-color: grey;
	border: dashed 4px white;
}

a {
	color: white;
	font-family: Comic Sans MS;
	text-shadow: 2px 2px 3px blue;
}

marquee {
	text-shadow: 2px 2px 3px red;
	color: black;
	font-family: arial;
}

h1 {
   color: white;
   background-color: #525252;
   font-family: Audiowide;
   text-align: center;
   text-shadow: 2px 2px 3px yellow;
   margin: 0px;
}

h2 {
   color: black;
   font-family: 'Courier New', monospace;
   text-align: center;
   text-shadow: 3px 3px 4px yellow;
}

div {
	background-color: #b8b8b8;
	margin: 25px;
	padding: 25px;
	max-width: 720px;
}

div3 {
	border: solid 4px darkgrey;
	background-color: dodgerblue;
	color: black;
	margin: 25px;
	padding: 25px;
}

.v {
	color: white;
	background-color: gray;
	padding: 15px;
	margin: 20px;
	border: 4px solid lime;
	outline: 4px dotted yellow;
	float: left;
}

.b {
	background-color: #3D5168;
	margin: 0px;
	padding: 20px;
	max-width: 1920px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1D1D1D;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}	
	
ul li a:hover {
  background-color: #ffcc00;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #b8b8b8;
}

ul.topnav li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

